@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html,
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


/* Triangle */
.triangle {
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: rgba(23, 92, 255, 0.07);
    border-radius: 70px;
    transform: rotate(45deg);
}

.one {
    left: -12%;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.two {
    right: -13%;
    bottom: -13%;
    z-index: 1;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #212529;
    font-family: 'Poppins', sans-serif;
}

.banner-subtitle {
    font-size: 16px;
    line-height: 30px;
}

.sub-green-heading {
    font-size: 17px;
    color: #FF9800;
}

.card-heading {
    font-size: 17px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.35;
    max-height: 2.5rem;
    min-height: 2.5rem;
}

.card-digital {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-subheading {
    font-size: 15px;
    min-height: 50px;
    font-weight: 400;
    line-height: 1.75;
    min-height: 130px;
    max-height: 130px;
}

.border-btn {
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.trust-heading {
    font-size: 15px;
    color: #212529;
    font-weight: 500;
}

.card-sec {
    padding: 1.8rem;
    border-radius: 10px;
    // border: 1px solid #00a669;
    background-color: #ffffff;
    background-image: url('https://tailwindui.com/img/beams-pricing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-card-sec {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #00a669;
    z-index: 9;
    background-color: #ffffff;
}

.industry-card-sec {
    border-radius: 10px;
    // border: 1px solid #00a669;
    background-color: #ffffff;
    z-index: 9;
    background-image: url('https://tailwindui.com/img/beams-pricing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product:after {
    content: "";
    position: absolute;
    left: -40px;
    background: #ffbf99;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    bottom: 0;
}

.product:before {
    content: "";
    position: absolute;
    right: -6%;
    background: #a374ff;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    top: 0;
}

.fixed-top {
    background-color: #eff3ff !important;
    box-shadow: 0 0 10px #dde3f5;
}

.contact-card {
    background: linear-gradient(283.03deg, #9ef4df -1.03%, #ffdffd 76.1%);
    padding: 88px 0;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-ip {
    background-color: transparent;
    border-bottom: 1px solid grey;
    width: 98%;
    font-size: 14px;
    padding: 10px;
}

.border-ip:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

.arrow-img {
    color: transparent;
    top: 0px;
    bottom: 0;
    right: 16px;
    cursor: pointer;

}

.svg-position {
    top: 11px;
    width: 14rem;
    height: 12rem;
    left: 10rem;
}

.arrow-sec {
    top: 3px;
    bottom: 0px;
    right: 100px;
    cursor: pointer;
    z-index: 9;
    
}

.arrow-top {
    padding: 10px 15px;
    border-radius: 22px;
    width: 80%;
    font-size: 14px;
    cursor: pointer;
    height: 3rem;
}

.arrow-top:focus {
    outline: none;
    border: none;
}